@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.container {
    display: flex;
}

.navigator {
    height: 95vh;
    background-color: aquamarine;
    width: 15%;
    margin-right: 20px;
}

.navigator .home-navigation {
    /* background-color: black; */
    width: 85%;
    height: 10%;
    border-bottom: 5px solid black;
    /* padding-bottom: 30px; */
    padding-left: 10%;
}

.navigator .home-navigation:hover {}

.navigator .icon-navigation {
    /* background-color: green; */
    width: 85%;
    height: 85vh;
    padding-left: 10%;
}

.tablinks {
    display: flex;
}

.icon-nav {
    margin-right: 10px;
    width: 5vw;
    /* background-color: aliceblue; */
}

.text-nav {
    /* background-color: aqua; */
    text-align: left;
    width: 5vw;
    font-family: 'Montserrat';
    font-weight: 700;
    /* padding-right: 15% */
}

.main-content {
    height: 95vh;
    width: 80%;
}

li {
    width: 15vw;
    height: 7vh;
    margin-bottom: 20px;
    list-style: none;
    padding: 10%;
    font-size: 1em;
    margin-left: -5vw;
}

li button {
    background-color: transparent;
    border: none;
    width: 95%;
    height: 90%;
    padding-top: 5%;
}

button:hover {
    background-color: #ddd;
}

button.active {
    background-color: #ccc;
}