.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}


/* Change background color of buttons on hover */

button:hover {
  background-color: #ddd;
}


/* Create an active/current tablink class */

/* Style the tab content */

.tabcontent {
  display: none !important;
  border: 0px solid #ccc;
  border-top: none;
}

#Pop {
  display: block
}