@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    color: #3c404c;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    background-color: #F4F6F8;
    /* height: 100vh; */
}

li {
    list-style-type: none;
}

.home-section {
    /* margin-top: 5vh; */
    position: relative;
    /* background: blue; */
    min-height: 100vh;
    /* top: 0; */
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.tabcontent {
    margin-right: 20px;
    margin-left: 20px;
}

.date-section {
    width: 10vw;
    height: 3vh;
    /* background-color: black; */
    /* right: 100%; */
    float: right;
    /* padding-top: 20px; */
    /* position: fixed; */
    right: 0;
    /* margin-top: 20%; */
    /* margin-left: 20%; */
    top: 0;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.title-panel-section {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 3vh;
    width: 100%;
    /* background-color: blueviolet; */
    padding-top: auto;
    /* bottom: 0; */
    /* position: fixed; */
}

.title-panel-section div {
    width: 50%;
    height: 100%;
}

.panel-section {
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 30vh;
    width: 100%;
    margin-bottom: 10px;
}

.panel-section div {
    width: 100%;
    height: 100%;
    border: 2px solid #B7C7E1;
    border-radius: 5px;
    overflow-y: auto;
}

.electricity-status {
    display: flex;
    width: 200px;
    font-size: small;
    justify-content: space-between;
    border: none !important;
    border-bottom: 2px solid #B7C7E1 !important;
    border-radius: 0 !important;

}

.electricity-status div {
    width: 35%;
    height: 10%;
    border: none !important;
    /* background-color: aqua; */

}

/* PROGRESS BAR */
.progress-bar-section {
    border: none !important;
    padding: 2%;

}

.progress-bar-section .background-bar {
    width: 100%;
    height: 20px;
    background-color: #284ddf7e;
    border: none !important;
    /* position: relative; */
}

.progress-bar-section .progress-bar {
    border: none !important;
    /* width: 50%; */
    max-width: 100%;
    height: 20px;
    background-color: #284EDF;
    margin-top: -20px;
}

.chart-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 65vh;
    width: 100%;
    /* background-color: red; */
}

.title-chart-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 3vh;
    width: 100%;
    padding-top: auto;
    margin-bottom: 30px;
}

.title-chart-section div {
    width: 5vw;
    height: 100%;
    /* background-color: red; */
}

.data_status li {
    border-bottom: 2px solid #B7C7E1;
}

.data_status .status_connection {
    float: right;
}

.hide {
    display: none;
}

.batt-toggle {
    border: 2px solid #B7C7E1;
    border-radius: 5px;
}