.smartplug-toggle {
    margin-top: 20px !important;
}

/* Effect Loading */
.lds-dual-ring {
    display: inline-block;
    width: 50%;
    height: 50%;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.activeButton {
    background-color: var(--secondary);
    color: var(--primary);
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}